# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Thompson,40,CA,1627396845,63,55.7435,-97.8558,64.56,5.75
1,Santa Barbara,90,US,1627396845,94,34.7333,-120.0343,69.35,0.00
2,Cape Town,75,ZA,1627396845,57,-33.9258,18.4232,63.27,5.99
3,Sai Buri,45,TH,1627396846,78,6.7013,101.6168,80.71,9.35
4,Benalla,100,AU,1627396846,52,-36.5500,145.9833,56.86,16.06
...,...,...,...,...,...,...,...,...,...
547,Helena,1,US,1627396995,33,46.5927,-112.0361,72.59,3.44
548,La Unión,75,PE,1627396995,63,-5.4000,-80.7500,74.10,9.53
549,Were Īlu,98,ET,1627396996,84,10.6000,39.4333,57.76,2.55
550,Cañazas,72,PA,1627396996,72,8.3167,-81.2167,80.60,2.55
551,Mahibadhoo,100,MV,1627396996,75,3.7833,72.9667,83.08,12.37

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

locations = weather_df[["Lat", "Lng"]]

humidity = weather_df["Humidity"]

In [5]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
clean_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] <= 10) & (weather_df["Humidity"] >= 50) & 
                                   (weather_df["Max Temp"] >= 70) & (weather_df["Max Temp"] <= 80)].dropna()

clean_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
44,Bengkulu,2,ID,1627396857,83,-3.8004,102.2655,76.50,6.06
177,Nānākuli,1,US,1627396893,65,21.3906,-158.1547,76.98,4.61
207,Gravdal,0,NO,1627396902,77,68.1214,13.5031,73.08,5.75
223,Guerrero Negro,0,MX,1627396907,71,27.9769,-114.0611,71.65,8.99
236,Masalli,2,KR,1627396911,89,34.7959,126.6553,78.48,4.00
291,Karratha,9,AU,1627396926,81,-20.7377,116.8463,71.60,8.97
299,Saint George,1,US,1627396672,82,37.1041,-113.5841,77.38,1.99
369,Nuevo Imperial,3,PE,1627396946,66,-13.0754,-76.3172,70.32,7.05
384,Estevan,1,CA,1627396950,73,49.1334,-102.9842,75.54,8.05
392,Fallon,1,US,1627396952,56,39.4735,-118.7774,75.42,9.22
516,Thunder Bay,1,CA,1627396987,92,48.4001,-89.3168,70.56,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = clean_df.loc[:,["City","Country", "Lat", "Lng"]]

hotel_df["Hotel Name"] = ""

hotel_df

               City Country      Lat       Lng Hotel Name
44         Bengkulu      ID  -3.8004  102.2655
177        Nānākuli      US  21.3906 -158.1547
207         Gravdal      NO  68.1214   13.5031
223  Guerrero Negro      MX  27.9769 -114.0611
236         Masalli      KR  34.7959  126.6553
291        Karratha      AU -20.7377  116.8463
299    Saint George      US  37.1041 -113.5841
369  Nuevo Imperial      PE -13.0754  -76.3172
384         Estevan      CA  49.1334 -102.9842
392          Fallon      US  39.4735 -118.7774
516     Thunder Bay      CA  48.4001  -89.3168

In [11]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    

    params["location"] = f"{lat},{lng}"

    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    
    results = response['results']
    
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    



print("-------End of Search-------")

Retrieving Results for Index 44: Bengkulu.
Closest hotel in Bengkulu is Mercure Bengkulu.
------------
Retrieving Results for Index 177: Nānākuli.
Closest hotel in Nānākuli is Maili Cove Oasis 318.
------------
Retrieving Results for Index 207: Gravdal.
Closest hotel in Gravdal is Scandic Leknes Lofoten Hotel.
------------
Retrieving Results for Index 223: Guerrero Negro.
Closest hotel in Guerrero Negro is The Halfway Inn.
------------
Retrieving Results for Index 236: Masalli.
Closest hotel in Masalli is 남향재한옥체험.
------------
Retrieving Results for Index 291: Karratha.
Closest hotel in Karratha is Karratha International Hotel.
------------
Retrieving Results for Index 299: Saint George.
Closest hotel in Saint George is The Advenire, Autograph Collection.
------------
Retrieving Results for Index 369: Nuevo Imperial.
Closest hotel in Nuevo Imperial is Gran Hotel Villa del Sur.
------------
Retrieving Results for Index 384: Estevan.
Closest hotel in Estevan is Best Western Plus Estevan Inn & Suites.
------------
Retrieving Results for Index 392: Fallon.
Closest hotel in Fallon is Best Western Fallon Inn & Suites.
------------
Retrieving Results for Index 516: Thunder Bay.
Closest hotel in Thunder Bay is Valhalla Inn Hotel.
------------
-------End of Search-------

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info
                             
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))